src/main/mule/jfc-order-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="jfc-order-sapi-main">
        <http:listener config-ref="jfc-order-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="jfc-order-sapi-config" />
		<error-handler ref="main-error-handler" />
    </flow>
    <!-- [STUDIO:"jfc-order-sapi-console"]<flow name="jfc-order-sapi-console">
        <http:listener config-ref="jfc-order-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200&#93;">
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500&#93;">
                <http:body>#[payload&#93;</http:body>
                <http:headers>#[vars.outboundHeaders default {}&#93;</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="jfc-order-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{message: "Resource not found"}&#93;&#93;></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow> [STUDIO] -->
    <flow name="get:\orders\(orderId):jfc-order-sapi-config">
		<flow-ref doc:name="get-orders-sub-flow" doc:id="a01c6d04-7152-411e-9508-73da58779a38" name="get-orders-sub-flow" />
    </flow>
    <flow name="post:\orders:application\json:jfc-order-sapi-config">
		<flow-ref doc:name="post-orders-sub-flow" doc:id="a7f6e5e4-d0c5-4afb-a930-848ef336b78d" name="post-orders-sub-flow" />
    </flow>
</mule>
